@font-face {
  font-family: "JosefinSans";
  src: url("./../../build/assets/fonts/josefinsans-regular-webfont.woff2")
      format("woff2"),
    url("./../../build/assets/fonts/josefinsans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
